*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
android-sdk/
gradle-*/
gradle-bin.zip
x86_64-libs/
x86_64-libs2/
.git-credentials
.git-credentials-copy
.gradle/
check_build.py
